<div class="row">
  <% @journal_entries.each do |j| %>
    <div class="col-sm-6 col-md-6" id="journalEntry">
      <div class="panel panel-default">
        <div class="panel-heading" id="journalPanelHeading"> 
           Journal entry written on <%=j.created_at %>
        </div>
        <div class="panel-body"> 
          <small> 
            When I wrote this, I was feeling like a <span> <%= j.feeling %> </span>
          </small>
          <br/>
          <br/>
           <%= j.body %> 
          <br/>
          <br/>
          <%= j.user.first_name %>
        </div>
    </div>
  </div>
  <% end %>
</div>
