<div class="aboutPage">
  <h1 class="aboutHeading"> About </h1>
  <div class="aboutDiv">
    <p class="aboutDescription">
      Feel Better is a mental health wellness site. <br>
      This application was made to assist those struggling with their mental health. It does this through simple mental health exercises, educational and motivational videos, and the ability to record thoughts and emotions through journal entries.
      <br>
      <br>
      Often struggling with depression and anxiety can limit a person's access to feelings
      such as hope, excitement, purpose, and passion as well as physical and mental energy. That is why the mental health exercises on this site are simple and all can be done from the comfort of your bed, couch, and home.
      <br>
      <br>
      Any ideas, comments, and inquries can be directed to 101feelbetter@gmail.com
      <br>
      Thank you and welcome!
    </p class="aboutDescription">
    
  <div class="aboutDiv">
</div class="aboutPage">