// #contentContainer h1 {
//   color: white;
//   margin: 10vw;
// }

// #contentContainer li {
//   color: whitesmoke;
//   padding: 8px;
// }


#exerciseList {
  color: whitesmoke;
}

#exerciseH1 {
  color: whitesmoke;
  margin-left: 25px;
}