
body{
  background: url("/astronomy-comet-constellation-631477.jpg") no-repeat center center fixed;
  background-size: cover;
  
}

#contentContainer {
  height: 40vh;
}

#reactComponent {
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  background: white;
  opacity: 0.5;
}

nav {
  color: white;
  margin-bottom: 30%;
}

a {
  color: white;
  
}

a:hover {
  color: silver;
  text-decoration: none;
}

#buttonsDiv {
  width: inherit;
  height: inherit;

}


button {
  color: white;
  border: 2px solid #001f3f;
  border-radius: 7px;
  cursor: pointer;
  padding: 10px;
}

#feelBetterButton {
  background-color: #3D9970;
}