
body{
  background: url("/astronomy-comet-constellation-631477.jpg") no-repeat center center fixed;
  background-size: cover;
  
}

#contentContainer {
  height: 40vh;
}

#reactComponent {
  margin-top: 30vh;
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  background: rgba(255,255,255,0.6);
  justify-items: center;

}

nav {
  color: white;
  font-size: 18px;
  margin-bottom: 30%;
  margin-top: 10px;
  text-align: right;
  
}

a {
  color: white;
  padding-right: 10px;
  font-size: 18px;
  
  
}

a:hover {
  color: #FF4136;
  text-decoration: none;
}

#buttonsDiv {
  padding: 5px;
  

}


button {
  color: black;
  border: 2px solid #001f3f;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  width: 130px;
  text-align: center;
  display: inline-block;

  
}

#feelBetterButton {
  background-color: white;
  color: black;
  text-align: center;
  

}
