
body { 
  background: url("/astronomy-comet-constellation-631477.jpg") no-repeat center center fixed;
  background-size: cover;
  margin-top: 30px;
  
}

#contentContainer {
  height: 100vh;
  width: 100vw;
}

#contentContainer .alert {
  color: black;
  background: white;
  font-size: 20px;
  opacity: 0.6;
  border: 3px solid white;
}

#alerts {
  margin-top: 40px
}



