#journalRow {
  margin-top: 25vh;
}

#journalEntry {
  display: inline-block;
  padding: 25px;
  
}

#journalEntry > div {
  opacity: .9;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#journalEntry .panel-footer {
  background: black;
  color: white;
}

#journalEntry .panel-heading {
  background: #020718;
  color: white;
  border-radius: 0;
}

// #journalIndexH1 {
//   color: snow;
//   padding-top: 5vh;
//   padding-left: 2vw;
// }
