#journalEntry {
  
}

#journalEntry div {
  opacity: .8;
  font-size: 18px;
  border: 0px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#journalEntry .panel-footer {
  background: black;
  color: white;
}

#journalEntry .panel-heading {
  background: #001f3f;
  color: white;
}

#journalIndexH1 {
  color: snow;
  margin-left: 5%;
  margin-bottom: 50px;
  margin-top: 50px;
  opacity: .8;
}
