#navContainer {
  background: rgba(255,255,255,0);
  border: 0;
}


#navRight a {
  color: white;
  font-size: 22px;
}

#navRight p {
  color: white;
  font-size: 22px
}

#navRight a:hover {
  text-decoration: underline;
}

#navRight p {
  text-decoration: underline;
}

#brand {
  color: white;
  font-size: 55px;
  font-family: mainButtonsFont, Arial, sans-serif;
}

#brand:hover {
  text-decoration: underline;

}