nav {
  color: white;
  font-size: 18px;
  margin: 3%;
  text-align: right;
  
  
}

nav > a {
  color: white;
  padding: 15px;
  font-size: 18px;
  
  
}

nav > a:hover {
  color: steelblue;
  text-decoration: none;
}