#reactComponent {
  display: flex;
  
}

#reactComponent > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 35vh;
  margin-top: 25vh;
  margin-left: 35vw;
  border-radius: 8px;
  background: rgba(255,255,255,0.5);
  box-shadow: 10px 10px 100px rgba(255, 255, 255, 0.6);

}

@font-face {
  font-family: mainButtonsFont;
  src: url(/riesling.ttf);
  
}


#buttonsDiv > div > button {
  border-radius: 10px;
  background-color: #edf0f5;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 50px;
  text-align: center;
  display: inline-block;
  border-width: 2px;
  border-color: #fcfdfd;
  font-size: 30px;
  font-weight: bold;
  font-family: mainButtonsFont, Arial, sans-serif;
  opacity: .9;
}

#buttonsDiv > div > button:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}
// #buttonsDiv {
//   display: inherit;
// }

#tooltipLink {
  font-style: italic;
  text-decoration: underline;
  font-size: 18px;
  color: black;
}

#modal-tooltip {
  font-size: 20px;
}

#feelBetterButton {
color: black;
position: right;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25%
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-header > h4 {
  font-size: 20px;
  color: rgb(10, 10, 10);
  
}

.modal-body {
  font-size: 18px;
}

.modal {
  margin-top: 20vh;
  
}

#journalModal .modal-content {
  background: rgb(255, 255, 255);
}

#journalModal .modal-header {
  border-bottom: 3px initial black;
}

#journalSubmitBtn {
  width: 50px;
  height: 45px;
  border: none;
  background: url("/editing-pencil.svg");
  background-repeat: no-repeat;
  background-size: 50px 45px;
  background-position: center;
  
}
#placeHolder {
  font-size: 17px;
}

#radioButtons {
  display: flex;
  // justify-content: center;
  
}

#radioButtons .btn {
  background-color: white;
  color: black;
  font-size: 16px;
  border: 1px solid black;
  
}

#radioButtons .btn:hover {
  border: 2px solid black;
  background-color: white;
  width: 80px;
  height: 60px;
}

#radioButtons .active:hover{
  background-color: rgb(25, 14, 88);
  color: white;
}

#radioButtons .active {
  background-color: rgb(25, 14, 88);
  color: white;
}

