#reactComponent {
  display: flex;
  
}

#reactComponent > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 35vh;
  margin-top: 25vh;
  margin-left: 35vw;
  border-radius: 8px;
  background: rgba(255,255,255,0.5);
  box-shadow: 10px 10px 70px rgba(255, 255, 255, 0.6);

}

@font-face {
  font-family: mainButtonsFont;
  src: url(/riesling.ttf);
  
}


#buttonsDiv > div > button {
  border-radius: 10px;
  background-color: #edf0f5;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 50px;
  text-align: center;
  display: inline-block;
  border-width: 2px;
  border-color: #fcfdfd;
  font-size: 30px;
  font-weight: bold;
  font-family: mainButtonsFont, Arial, sans-serif;
  opacity: .9;
}

#buttonsDiv {
  display: inherit;
}

#tooltipLink {
  color: burlywood;
  font-size: 14px;
}

#feelBetterButton {
color: black;
position: right;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25%
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

