#reactComponent {
  margin-top: 30vh;
  margin-left: 15vw;
  border-radius: 10px;
  width: 30vw;
  height: 30vh;
  background: rgba(255,255,255,0.4);

}


#buttonsDiv > div > button {
  border-radius: 7px;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  width: 130px;
  text-align: center;
  display: inline-block;
  border: none;
}

#buttonsDiv {
  padding: 10px;
}

#tooltipLink {
  color: burlywood;
  font-size: 14px;
}

// .modal-container {
//   position: relative;
// }
// .modal-container .modal, .modal-container .modal-backdrop {
//   position: absolute;
// }


#feelBetterButton {
color: white;
background-image: url("/abstract-art-astronomy-220071.jpg");
background-size: contain;


}
