#signInContent {
  margin-top: 10vh;
}

#signInTitle {
  // color: white;
  // text-align: center;
  // font-family: mainButtonsFont, Arial, sans-serif;
  // font-size: 80px;
  // margin-bottom: 50px;
  background :rgba(255, 255, 255, 0.2);
  margin-top: 10vh;
  margin-left: 20vw;
  margin-right: 20vw;
  display:flex;
  font-family: mainButtonsFont, Arial, sans-serif;
  color: snow;
  font-size: 80px;
  justify-content: center;
  border: 3px solid white;
  border-radius: 5px;
}

#signInContent form {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
}

#signInContent label {
  color: white;
  font-size: 18px;
  opacity: .8;
}


#signInButton .button {
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  opacity: .9;
  
}
