#signUpContent {
  margin-top: 10vh;
}

#signUpTitle {
  background :rgba(255, 255, 255, 0.2);
  margin: 15vh 20vw 5vh 20vw;
  display:flex;
  font-family: mainButtonsFont, Arial, sans-serif;
  color: snow;
  font-size: 80px;
  justify-content: center;
  border: 3px solid white;
  border-radius: 5px;

}

#signUpContent form {
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
}


#signUpButton .button {
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  opacity: .9;
  
}

#signUpContent label {
  color: white;
  font-size: 18px;
  opacity: .8;
}
